/*

THEME:		960bc
AUTHOR:		Troy Dean 
WEBSITE:   	http://www.guardianwebdesign.com.au
CLIENT NAME:	xxx
CLIENT SITE:	xxx
VERSION:		1.0  
        	
*/ 

/* Put your cutom css for Internet Explorer version 6 in this file */

